name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v4
    - uses: mlugg/setup-zig@v2

    - name: Building
      run: zig build

    - name: Zig Tests
      run: zig build test-soft

    - name: Vulkan Conformance Test Suite
      run: zig build test-conformance-soft

    - name: Vulkan CTS report
      run: |
        pip install pandas
        zig build test-conformance-soft-result-to-html

    - name: Publish to Cloudflare Pages
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        command: pages deploy cts_report --project-name=vulkan-driver-cts-report
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
