name: Test (new)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v4
    - uses: mlugg/setup-zig@v2

    - name: Building
      run: zig build

    - name: Zig Tests
      run: zig build test-soft

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        targets: x86_64-unknown-linux-gnu,wasm32-unknown-unknown

    - uses: Swatinem/rust-cache@v2
      with:
        cache-all-crates: "true"
        cache-on-failure: "false"

    - name: Install deqp-runner
      run: cargo install deqp-runner

    - name: Run multithreaded master Vulkan CTS
      run: zig build test-conformance-multithreaded-soft
      continue-on-error: true
