name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v4
    - uses: mlugg/setup-zig@v2

    - name: Building
      run: zig build

    - name: Zig Tests
      run: zig build test-soft

    - name: Vulkan Conformance Test Suite
      run: zig build test-conformance-soft

    - name: Vulkan CTS report
      run: |
        pip -m install pandas
        zig build test-conformance-soft-result-to-html
